
  <div class="card animated">Example</div>
  <div class="card images_box">
    <div class="d-flex justify-content-center">
      <img src="https://images.pexels.com/photos/4902634/pexels-photo-4902634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      <img src="https://images.pexels.com/photos/3489376/pexels-photo-3489376.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      <img src="https://images.pexels.com/photos/2833348/pexels-photo-2833348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    </div>
  </div>
