<section class="banner d-flex justify-content-between">
  <div class="d-flex flex-column">
    <h1 data-shadow='Eduardo Oliveira' class="animate__animated animate__bounceInDown" id="name">Eduardo Oliveira,</h1>
    <h3 class="animate__animated animate__bounceInLeft" id="front">Front-end Developer.</h3>
  </div>
  <div class="pin">
    <%= image_tag("logo.png")%>
  </div>
</section>

<section>
  <div class="images_box">
    <div class="d-flex justify-content-center">
      <div data-aos="fade-left" data-aos-delay="400"><%= image_tag "about.png", id: 'imgb'  %></div>
      <div data-aos="fade-up" data-aos-delay="400"><%= image_tag "jobs.png" , id: 'imgb'  %></div>
      <div data-aos="fade-right" data-aos-delay="400"><%= image_tag "contact.png" , id: 'imgb' %></div>
    </div>
  </div>
</section>
