.images_box {

  gap: 3rem;
}

.images_box img {
  opacity: 0.4;
}

.images_box img:hover {
  opacity: 1;
  transform: perspective(800px);
}

img {
  width: 20%;
  height: auto;
  border-radius: 10px;
  transform-origin:center;
  transform:perspective(500px) rotateY(30deg);
  -webkit-box-reflect: below 3px linear-gradient(transparent, transparent, rgba(255,255,255,0.3));
  transition: 0.6s;
}

.card {
  height: 1500px;
  background-color: black;
}
