.images_box {
  margin: 200px;
  gap: 3rem;
}

.images_box #imgb {
  opacity: 0.4;
}

.images_box #imgb:hover {
  opacity: 1;
  transform: perspective(800px);
}

#imgb {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  transform-origin:center;
  transform:perspective(500px) rotateY(30deg);
  -webkit-box-reflect: below 3px linear-gradient(transparent, transparent, rgba(255,255,255,0.3));
  transition: 0.6s;
  gap: 5rem;
  margin-right: 25px;
}

.pin {
  margin-right: 250px;
  margin-top: 215px;
  display: inline-block;
  animation: jello; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
